[submodule "ar_track_alvar"]
	path = ar_track_alvar
	url = https://github.com/ros-perception/ar_track_alvar.git
	branch = noetic-devel
[submodule "universal_robot"]
	path = universal_robot
	url = https://github.com/ros-industrial/universal_robot.git
	branch = noetic-devel
[submodule "Universal_Robots_ROS_Driver"]
	path = Universal_Robots_ROS_Driver
	url = https://github.com/UniversalRobots/Universal_Robots_ROS_Driver.git
[submodule "usb_cam"]
	path = usb_cam
	url = https://github.com/ros-drivers/usb_cam.git
