<launch>
    <!-- Commented out as the camera is launched separately in different file for the final implementation -->
        <!-- <include file="$(find camera)/launch/webcam_launch.launch"> -->
		<!-- <arg name="arg_name_1" value="a_value"> -->
		<!-- <arg name="arg_name_2" value="$(arg my_launch_argument_val)"> -->
	<!-- </include> -->
	<arg name="marker_size" default="4.4" />
	<arg name="max_new_marker_error" default="0.08" />
	<arg name="max_track_error" default="0.2" />
	<arg name="cam_image_topic" default="/my_cam_node/image_raw" />
	<arg name="cam_info_topic" default="/my_cam_node/camera_info" />
	<arg name="output_frame" default="usb_cam" />

	<node name="ar_track_alvar" pkg="ar_track_alvar" type="individualMarkersNoKinect" respawn="false" output="screen">
		<param name="marker_size"           type="double" value="$(arg marker_size)" />
		<param name="max_new_marker_error"  type="double" value="$(arg max_new_marker_error)" />
		<param name="max_track_error"       type="double" value="$(arg max_track_error)" />
		<param name="output_frame"          type="string" value="$(arg output_frame)" />

		<remap from="camera_image"  to="$(arg cam_image_topic)" />
		<remap from="camera_info"   to="$(arg cam_info_topic)" />
	</node>
	
</launch>
